* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
}
b {
    font-weight: 400;
}
.hg100 {
    height: 100%;
}
.w100 {
    width: 100% !important;
}
.m-t-b8 {
    margin: 4px 0;
}
.m0 {
    margin: 0;
}
.m10 {
    margin:10px;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
html,body {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.bgBlue {
    background: #1E9FFF
}

.bgOg {
    background: #FF5722
}

.bgGreen {
    background: #5FB878
}

.bgRed {
    background: #f00
}
.ml0 {
    margin-left: 0 !important;
}
.p10 {
    padding: 10px;
}
/* 工作台布局 start */
body.base-workbench {
    overflow: hidden;
}

.base-workbench .layout {
    display: flex;
    padding: 0px 0 40px 40px;
    overflow: hidden;
}

.base-workbench .notice {
    width: 300px;
    margin-right: 20px;
    /* box-shadow: 0px 0px 4px #888888; */
    border-radius: 3px;
    background: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    padding: 20px;
    position: relative;
    cursor: pointer;
}
.base-workbench .notice ul {
    height: calc(100% - 75px);
}
.base-workbench .workbench {
    flex: 1;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    margin-right: 30px;
    /* box-shadow: 0px 0px 2px #888888; */
    border: 1px solid #fff;

}

.base-workbench .notice h3 {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-indent: 0em;
}

.base-workbench .notice ul {
    
    overflow: hidden;
}

.base-workbench .notice-item {
    height: 80px;
    display: flex;
    color: #666;
    
    border-bottom: 1px solid #E8ECEE;
}
.base-workbench  .notice-empty {
    line-height: 40px;
    color: #c0c0c0;
    text-align: center;
}
.base-workbench .notice-item .notice-img {
    width: 50px;
    height: 50px;
    margin-right: 4px;
    border-radius: 50%;
    color: #fff;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}

.base-workbench .notice-item .notice-text {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
}

.base-workbench .notice-text .notice-illness {
    height: 40px;
    line-height: 40px;
}

.base-workbench .notice-text .notice-hospital {
    height: 35px;
    flex: 1;
    display: flex;

}

.base-workbench .notice-text .notice-hospital span {
    flex: 1;
}

.base-workbench .notice-text .notice-hospital i {
    width: 80px;
    margin-right: -25px;
}

.base-workbench .notice-item .notice-icon {
    width: 32px;
}

/* 工作台布局 end */

/* layui style reset   start*/
.layui-form-label.w68 {
    width: 68px !important;
}
.layui-input-block.ml68 {
    margin-left: 68px;
}

/* layui style reset end */
.layout .layui-form .layui-form-label {
    width: 140px;
}
.layout .layui-form .layui-input-block {
   margin-left: 140px;
}
