<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>湘雅医院糖尿病足互联网平台</title>
    <link rel="stylesheet" href="../../../js/plugin/layui/css/layui.css">
    <style>
        .layui-table-tool-temp {
            padding-right: 20px;
            text-align: right;
        }

        .layui-form.createForm {
            display: none;
            padding: 20px;
        }

        .organization-tree {
            padding: 20px;
        }

        .subimt-add-btn {
            padding: 30px 0;
            margin: 0;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="layout">
        <table class="layui-hide" id="organizationTable" lay-filter="organizationTable"></table>
        <form class="layui-form createForm" id="organizationForm" lay-filter="organizationForm">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名称"
                        class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">用户手机</label>
                <div class="layui-input-block">
                    <input type="text" name="mobile" placeholder="请输入用户手机号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="realname" placeholder="请输入用户姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户身份证</label>
                <div class="layui-input-block">
                    <input type="text" name="cardno" placeholder="请输入用户身份证号码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="0" title="男">
                    <input type="radio" name="sex" value="1" title="女" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户职称</label>
                <div class="layui-input-block">
                    <input type="text" name="position" placeholder="请输入用户职称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属机构</label>
                <div class="layui-input-block">
                    <select name="organizationId" lay-search id="organizationOptions">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户简介</label>
                <div class="layui-input-block">
                    <textarea name="introduction" placeholder="请输入用户简介" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item ">
                <div class="layui-input-block subimt-add-btn">
                    <button class="layui-btn" lay-submit lay-filter="subimtAdd">立即提交</button>
                </div>
            </div>
        </form>
    </div>
    <script src="../../../js/plugin/jquery.min.js"></script>
    <script src="../../../js/common/config.js"></script>
    <script src="../../../js/common/common.js"></script>
    <script src="../../../js/plugin/layui/layui.js"></script>
    <script src="../../../js/plugin/jquery.cookie.js"></script>
    <script type="text/html" id="operation">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
    <script>

        $(function () {
            function updateOrganization(layer, $, utoken, form, tableIns, option) {
                if (option) {
                    $("#organizationOptions option[value='" + option.organizationId + "']").prop("selected", "selected");
                    $("input[name='username']").val(option.username);
                    $("input[name='realname']").val(option.realname)
                    $("input[name='mobile']").val(option.mobile);
                    $("input[name='cardno']").val(option.cardno);
                    $("input[name='position']").val(option.position);
                    $("textarea[name='avatar']").val(option.avatar);
                    

                    form.render()
                } else {
                    form.val("organizationForm", {
                        "username": "",
                        "realname": "",
                        "mobile": "",
                        "cardno": "",
                        "position":"" ,
                        "avatar": "",
                        
                    })
                }
                var createLayerIndex = layer.open({
                    type: 1,
                    content: $('#organizationForm'),
                    area: ['600px', '650px']
                })
                form.on('submit(subimtAdd)', function (data) {
                    var submitdata = data.field;
                    if (option) {
                        submitdata.userId = option.userId
                    }
                    var url = option ? AJAX_API.admin.user.update : AJAX_API.admin.user.create;
                    ajaxRequest(url, "post", JSON.stringify(submitdata), utoken.access_token, function (res) {
                        if (res.code == 200) {
                            tableIns.reload()
                            layer.msg(option ? "修改成功" : "新增成功", { icon: 1 })
                            layer.close(createLayerIndex)
                            form.render()
                        }
                    })
                    return false
                })

            }
            layui.use(['layer', 'table', 'form', 'tree'], function () {
                var layer = layui.layer
                    , table = layui.table
                    , form = layui.form
                    , tree = layui.tree
                    , util = layui.util;

                var utoken = JSON.parse($.cookie("utoken"));

                if (!utoken) {
                    layer.msg("您还没有登陆，请重新登陆", { icon: 2 })
                    window.location.href = "../../../login_doctor.html"
                }
                var url = ajaxRoot + AJAX_API.admin.user.list + "?page=true";
                var urllist = AJAX_API.admin.organization.list;
                ajaxRequest(urllist, "get", {}, utoken.access_token, function (res) {
                    if (res.code == 200) {
                        var data = res.data;
                        var html = ['<option value="">请选择机构</option>'];
                        $.each(data, function (i, item) {
                            html.push('<option value="' + item.organizationId + '">' + item.organizationName + '</option>')
                        })
                        $("#organizationOptions").html(html.join(""))
                        form.render('select');

                    }
                })
                var tableIns = table.render({
                    elem: '#organizationTable'
                    , height: 'full-20'
                    , url: url //数据接口
                    , headers: { Authorization: "bearer " + utoken.access_token }
                    , request: {
                        pageName: 'pageNum'
                        , limitName: 'nums'
                    }
                    , page: true //开启分页
                    , toolbar: "default"
                    , defaultToolbar: []
                    , parseData: function (res) {
                        if (res.code == 200) {
                            var count = res.data ? res.data.list.length : 0,
                                data = res.data ? res.data.list : [];
                            return {
                                code: 0,
                                msg: res.message,
                                count: count,
                                data: data
                            }
                        }


                    }
                    , cols: [[ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'username', title: '用户吗', align: "center" }
                        , { field: 'realname', title: '姓名', align: "center" }
                        , { field: 'cardno', title: '身份证', align: "center" }
                        , { field: 'mobile', title: '手机号码', align: "center" }
                        , { field: 'hospital', title: '所属医院', align: "center" }
                        , { field: 'hospital', title: '科室', align: "center" }
                        , { field: 'position', title: '职位', align: "center" }
                        , { field: 'createDate', title: '创建日期', align: "center" }
                        , { fixed: 'right', title: '操作', width: 260, align: 'center', toolbar: '#operation' }
                    ]]
                    , done: function (res, curr, count) {

                    }
                });
                //监听头工具栏事件
                table.on('toolbar(organizationTable)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id)
                        , data = checkStatus.data; //获取选中的数据
                    console.log(data)
                    switch (obj.event) {
                        case 'add':
                            updateOrganization(layer, $, utoken, form, tableIns)
                            break;
                        case 'update':
                            if (data.length === 0) {
                                layer.msg('请选择一行', { icon: 5 });
                            } else if (data.length > 1) {
                                layer.msg('只能同时编辑一个用户', { icon: 5 });
                            } else {
                                console.log(checkStatus.data[0])
                                updateOrganization(layer, $, utoken, form, tableIns, checkStatus.data[0])

                            }
                            break;
                        case 'delete':
                            if (data.length === 0) {
                                layer.msg('请至少选择一个用户', { icon: 5 });
                            } else {
                                // deleteOrganization({organizationId:organizationId}, layer, utoken,tableIns)
                                console.log(data)
                                var deleteData = [];
                                $.each(data, function (i, item) {
                                    deleteData.push(item.organizationId)
                                })
                                ajaxRequest(AJAX_API.admin.user.deleteBatch, "post", JSON.stringify({ organizationIds: deleteData }), utoken.access_token, function (res) {
                                    if (res.code == 200) {
                                        tableIns.reload()
                                        layer.msg("删除成功", { icon: 1 })

                                    }
                                })


                            }
                            break;
                    };
                });
                //监听行工具事件
                table.on('tool(organizationTable)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    var userId = obj.data.userId;
                    if (layEvent === 'del') {
                        layer.confirm('真的删除所选择的用户吗？', { icon: 5, title: '提示' }, function (index) {
                            var url = AJAX_API.admin.user.delete;
                            deleteOrganization({ userId: userId }, layer, utoken, tableIns)
                        });
                    } else if (layEvent === 'edit') {
                        updateOrganization(layer, $, utoken, form, tableIns, data)
                    }
                });

                function deleteOrganization(organizationId, layer, utoken, tableIns) {
                    if (organizationId) {
                        var url = AJAX_API.admin.user.delete;
                        ajaxRequest(url, "post", JSON.stringify(organizationId), utoken.access_token, function (res) {
                            if (res.code == 200) {
                                tableIns.reload()
                                layer.msg("删除成功", { icon: 1 })

                            }
                        })
                    } else {
                        layer.msg("没有可以删除的用户", { icon: 5 })
                    }
                }

            })
        })
    </script>
</body>

</html>