<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智足管家</title>
    <link rel="stylesheet" href="../../js/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="../../js/plugin/toastr/toastr.min.css">
    <link rel="stylesheet" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../js/plugin/layui/css/login.css" media="all">
    <link rel="stylesheet" href="../../js/plugin/layui/css/admin.css">
    <style>
        .up-pw {
            padding: 6px 8px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="updataPWlayer"  class="up-pw">
        <form class="layui-form layadmin-user-login-box layadmin-user-login-body">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                    for="LAY-user-login-password"></label>
                <input type="text" name="password" id="LAY-user-login-password" lay-verify="required"
                    placeholder="旧密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-edit"
                    for="LAY-user-login-password"></label>
                <input type="text" name="newPwd" id="LAY-user-login-password" lay-verify="required"
                    placeholder="新密码密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-edit"
                    for="LAY-user-login-password"></label>
                <input type="text" name="repeatPwd" id="LAY-user-login-password" lay-verify="required"
                    placeholder="确认新密码密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class=" text-center">
                    <button class="layui-btn layui-btn-normal" id="upPW" lay-submit
                        lay-filter="upPW">确定修改</button>
                </div>
            </div>
        </form>
    </div>
    <script src="../../js/plugin/jquery.min.js"></script>
    <script src="../../js/plugin/jquery.cookie.js"></script>
    <script src="../../js/plugin/toastr/toastr.min.js"></script>
    <script src="../../js/plugin/layui/layui.js"></script>
    <script src="../../js/common/config.js"></script>
    <script src="../../js/common/common.js"></script>
    <script>
        layui.use(['form'],function(){
            var utoken = $.cookie("utoken");
            // 获取用户信息
            if (!utoken) {
                parent.layer.msg('您尚未登陆或者,或者登陆已过期，请重登陆', {
                    time: 20000, //20s后自动关闭
                    btn: ['重新登陆'],
                    btn1: function () {
                        parent.window.location.href = "../../../doctor.html"
                    }
                });
            }
            access_token = JSON.parse(utoken).access_token;
            var form = layui.form;
            // 修改密码
            form.on('submit(upPW)', function (obj) {
                var pw = obj.field;
                if(pw.newPwd !=pw.repeatPwd) {
                    layer.msg("密码与确认密码不一致,请验证后重新输入")
                }else {
                    ajaxRequest(AJAX_API.user.resetPwd, "post", JSON.stringify(pw), access_token, function(res){
                        if(res.code == 200 ) {
                            layer.msg(res.message)
                        }
                    })
                }
                return false
            })
        })
    
    </script>
</body>
</html>