<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>湘雅医院糖尿病足互联网平台管理系统</title>
    <link rel="stylesheet" href="../../js/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../css/common.css">
    <style>
        .layui-layout-admin .layui-header {
            background: rgba(48, 47, 87, 1);
        }

        .layui-bg-black .layui-nav {
            background: rgba(48, 47, 87, .8) !important;
        }

        .layui-body>div {
            height: 100%;
            box-sizing: border-box;
        }

        .layui-body iframe {
            width: 100%;
            height: 100%;
        }

        .layui-footer {
            text-align: center;
        }
    </style>
    <script>

    </script>
</head>

<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">湘雅医院皮肤科互联网医院</div>

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="../doctor/router.html"><span class="icon iconfont icon-windows-fill"></span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="../../imgs/user.png" class="layui-nav-img">
                        <span id="username"></span>
                    </a>

                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/index.html" id="signout">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="adminnav">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">组织机构</a>
                        <dl class="layui-nav-child">
                            <dd class="layui-this"><a href="javascript:;"
                                    navLink="/view/admin/organization/organization.html">机构列表</a></dd>

                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">权限管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" navLink="/view/admin/permission/permission.html">权限管理</a></dd>

                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">角色管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" navLink="/view/admin/role/role.html">角色管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" navLink="/view/admin/user/user.html">用户管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a class="" href="javascript:;">内容管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" navLink="/view/admin/article/create.html">内容发布</a></dd>
                            <dd><a href="javascript:;" navLink="/view/admin/article/list.html">内容列表</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <iframe src="./organization/organization.html" frameborder="0" id="articlecontent"></iframe>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            @CopyRight 2019中南大学湘雅医院糖尿病足互联网平台
        </div>
    </div>

    <script src="../../js/plugin/layui/layui.js"></script>
    <script src="../../js/plugin/jquery.min.js"></script>
    <script src="../../js/plugin/jquery.cookie.js"></script>
    <script src="../../js/common/config.js"></script>
    <script src="../../js/common/common.js"></script>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'jquery'], function () {
            var $ = layui.jquery;
            var element = layui.element;
            var layer = layui.layer;
            var $articlecontent = $("#articlecontent");
            element.on('nav(adminnav)', function (data) {


                var str = data.attr("navLink")
                if (str) {
                    $articlecontent.attr("src", str)
                }

            });
            var utoken = $.cookie("utoken");
                // 获取用户信息
                if (!utoken) {
                    parent.layer.msg('您尚未登陆或者,或者登陆已过期，请重登陆', {
                        time: 20000, //20s后自动关闭
                        btn: ['重新登陆'],
                        btn1: function () {
                            parent.window.location.href = "../../../login_doctor.html"
                        }
                    });
                }
                access_token = JSON.parse(utoken).access_token;
                var roleInfoUlr = AJAX_API.user.userInfo
                ajaxRequest(roleInfoUlr, "get", {}, access_token, function (res) {
                    if (res.code == 200) {
                        var data = res.data;
                        $("#username").html(data.role)
                        if (data.avatar) {
                            $(".avatar").html(data.avatar)
                        }
                    }
                })

        });
    </script>
</body>

</html>