<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>通讯录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../js/plugin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../js/plugin/layui/css/admin.css" media="all">
    <link rel="stylesheet" href="../../js/plugin/layui/css/template.css" media="all">
    <style>
        .layadmin-maillist-fluid .layadmin-text-center img {
            width: 120px;
            height: 90px;
        }
    </style>
</head>

<body>
    <div class="layui-fluid layadmin-maillist-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/user.png">
                                <div class="layadmin-maillist-img layadmin-font-blod">内分泌科-主任</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>周秋红</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Zhou Qiu Hong</strong>
                                <br>
                                E-mail:xxx@163.com
                                <br>
                                address: 湖南湘雅医院
                                <br>
                                <addr title="phone">Tel:</addr>
                                177xxxxxxxx
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>张铁军</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Zhang Tie Jun</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 长沙
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>胡爱国</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Hu Ai Guo</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 湖南湘雅医院
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>李铁桥</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Li Tie Qiao</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 长沙中心医院
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>唐红军</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Tang Hong Jun</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 长沙
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>刘勇</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Liu Yong</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 长沙
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>陆荣</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Lu Rong</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 长沙
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong>周露露</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Zhou Lu Lu</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 长沙
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm6">
                <div class="layadmin-contact-box">
                    <div class="layui-col-md4 layui-col-sm6">
                        <a href="javascript:;">
                            <div class="layadmin-text-center">
                                <img src="../../imgs/test.gif">
                                <div class="layadmin-maillist-img layadmin-font-blod">医生</div>
                            </div>
                        </a>
                    </div>

                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                        <a href="javascript:;">
                            <h3 class="layadmin-title">
                                <strong> 陈英</strong>
                            </h3>
                            <p class="layadmin-textimg">
                                <i class="layui-icon layui-icon-location"></i>
                                长沙
                            </p>
                        </a>
                        <div class="layadmin-address">
                            <a href="javascript:;">
                                <strong>Chen Ying</strong>
                                <br>
                                E-mail:xxx@baidu.com
                                <br>
                                address: 长沙
                                <br>
                                <addr title="phone">Tel:</addr>
                                (123) 456-7890
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../../js/plugin/layui/layui.js"></script>
    <script>

    </script>
</body>

</html>