<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>湘雅医院糖尿病足互联网平台</title>
    <link rel="stylesheet" href="../../../js/plugin/layui/css/layui.css">
    <style>
        .layui-table-tool-temp {
            padding-right: 20px;
            text-align: right;
        }

        .layui-form.createForm {
            display: none;
            padding: 20px;
        }

        .organization-tree {
            padding: 20px;
        }

        .subimt-add-btn {
            padding: 30px 0;
            margin: 0;
            text-align: center;
        }

        .permission-transfer-box {
            display: none;
            padding: 20px 50px;
        }

        .permission-transfer-box .layui-layer-btn {
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="layout">
        <table class="layui-hide" id="organizationTable" lay-filter="organizationTable"></table>
        <form class="layui-form createForm" id="organizationForm" lay-filter="permissionForm">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" name="roleName" required lay-verify="required" placeholder="请输入角色名称"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色编码</label>
                <div class="layui-input-block">
                    <input type="text" name="roleCode" placeholder="请输入角色名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item ">
                <div class="layui-input-block subimt-add-btn">
                    <button class="layui-btn" lay-submit lay-filter="subimtAdd">立即提交</button>
                </div>
            </div>
        </form>
        <div id="permissionTransferBox" class="permission-transfer-box">
            <div id="permissionTransfer" class="demo-transfer"></div>
        </div>
    </div>
    <script src="../../../js/plugin/jquery.min.js"></script>
    <script src="../../../js/common/config.js"></script>
    <script src="../../../js/common/common.js"></script>
    <script src="../../../js/plugin/layui/layui.js"></script>
    <script src="../../../js/plugin/jquery.cookie.js"></script>
    <script type="text/html" id="operation">
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs " lay-event="permissions">权限</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
    <script>

        $(function () {
            function updateOrganization(layer, $, utoken, form, tableIns, option) {
                if (option) {
                    $("input[name='roleName']").val(option.roleName)
                    $("input[name='roleCode']").val(option.roleCode)

                    form.render()
                } else {
                    form.val("permissionForm", {
                        roleName: "",
                        roleCode: ""
                    })
                }
                var createLayerIndex = layer.open({
                    type: 1,
                    content: $('#organizationForm'),
                    area: ['600px', '310px']
                })
                form.on('submit(subimtAdd)', function (data) {
                    var submitdata = data.field;
                    if (option) {
                        submitdata.roleId = option.roleId
                    }
                    var url = option ? AJAX_API.admin.role.update : AJAX_API.admin.role.create;
                    ajaxRequest(url, "post", JSON.stringify(submitdata), utoken.access_token, function (res) {
                        if (res.code == 200) {
                            tableIns.reload()
                            layer.msg(option ? "修改成功" : "新增成功", { icon: 1 })
                            layer.close(createLayerIndex)
                            form.render()
                        }
                    })
                    return false
                })

            }
            layui.use(['layer', 'table', 'form', 'tree', 'transfer'], function () {
                var layer = layui.layer
                    , table = layui.table
                    , form = layui.form
                    , tree = layui.tree
                    , util = layui.util
                    , transfer = layui.transfer;

                var utoken = JSON.parse($.cookie("utoken"));

                if (!utoken) {
                    layer.msg("您还没有登陆，请重新登陆", { icon: 2 })
                    window.location.href = "../../../login_doctor.html"
                }
                var url = ajaxRoot + AJAX_API.admin.role.list;

                var tableIns = table.render({
                    elem: '#organizationTable'
                    , height: 'full-20'
                    , url: url //数据接口
                    , headers: { Authorization: "bearer " + utoken.access_token }
                    , request: {
                        pageName: 'pageNum'
                        , limitName: 'nums'
                    }
                    , page: true //开启分页
                    , toolbar: "default"
                    , defaultToolbar: []
                    , parseData: function (res) {
                        if (res.code == 200) {
                            var count = res.data ? res.data.length : 0,
                                data = res.data ? res.data : [];
                            return {
                                code: 0,
                                msg: res.message,
                                count: count,
                                data: data
                            }
                        }


                    }
                    , cols: [[ //表头
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'roleName', title: '角色名称', align: "center" }
                        , { field: 'roleCode', title: '角色编码', align: "center" }
                        , { fixed: 'right', title: '操作', width: 260, align: 'center', toolbar: '#operation' }
                    ]]
                    , done: function (res, curr, count) {

                    }
                });
                //监听头工具栏事件
                table.on('toolbar(organizationTable)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id)
                        , data = checkStatus.data; //获取选中的数据
                    switch (obj.event) {
                        case 'add':
                            updateOrganization(layer, $, utoken, form, tableIns)
                            break;
                        case 'update':
                            if (data.length === 0) {
                                layer.msg('请选择一行', { icon: 5 });
                            } else if (data.length > 1) {
                                layer.msg('只能同时编辑一个角色', { icon: 5 });
                            } else {
                                updateOrganization(layer, $, utoken, form, tableIns, checkStatus.data[0])

                            }
                            break;
                        case 'delete':
                            if (data.length === 0) {
                                layer.msg('请至少选择一个角色', { icon: 5 });
                            } else {

                                var deleteData = [];
                                $.each(data, function (i, item) {
                                    deleteData.push(item.roleId)
                                })
                                ajaxRequest(AJAX_API.admin.role.deleteBatch, "post", JSON.stringify({ roleIds: deleteData }), utoken.access_token, function (res) {
                                    if (res.code == 200) {
                                        tableIns.reload()
                                        layer.msg("删除成功", { icon: 1 })

                                    }
                                })
                            }
                            break;
                    };
                });
                //监听行工具事件
                table.on('tool(organizationTable)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                        , layEvent = obj.event; //获得 lay-event 对应的值
                    var roleId = obj.data.roleId;
                    if (layEvent === 'del') {
                        layer.confirm('真的删除所选择的角色吗？', { icon: 5, title: '提示' }, function (index) {

                            deleteOrganization({ roleId: roleId }, layer, utoken, tableIns)
                        });
                    } else if (layEvent === 'permissions') {
                        permissions(data)

                    } else if (layEvent === 'edit') {
                        updateOrganization(layer, $, utoken, form, tableIns, data)
                    }
                });

                function permissions(data) {
                    console.log(data)
                    var url = AJAX_API.admin.role.allot;
                    var allPermissionUrl = AJAX_API.admin.permission.list;
                    ajaxRequest(allPermissionUrl, "get", {}, utoken.access_token, function (res) {
                        if (res.code == 200) {
                            console.log(res)
                            var list = res.data.list;
                            // var allPermission = [];
                            // $.each(list, function (i, item) {
                            //     allPermission.push({
                            //         value: item.permissionId,
                            //         title: item.permissionName
                            //     })
                            // })
                            var myPermission = [];
                            $.each(data.permissions, function (j, obj) {
                                myPermission.push(obj.permissionId)
                            })
                            transfer.render({
                                elem: '#permissionTransfer'
                                , title: ['所有权限', '已有权限']  //自定义标题
                                , data: list
                                , showSearch: true
                                //,width: 150 //定义宽度
                                , height: 'full' //定义高度
                                , parseData: function (res) {
                                    //根据返回数据格式进行解析
                                    return {
                                        "value": res.permissionId,
                                        "title": res.permissionName
                                    }
                                }
                                , value: myPermission
                                , id: 'permission'
                            })
                            var permissionLayer = layer.open({
                                type: 1,
                                content: $('#permissionTransferBox'),
                                title: "修改用户权限",
                                area: ["580px", "500px"],
                                btn: ['立即修改'],
                                success: function (lay) {
                                    var btn = lay.find('.layui-layer-btn');
                                    btn.css({
                                        'text-align':'center',
                                        'padding-top':0
                                    });
                                },
                                btn1: function (index, layero) {
                                    var permissions = transfer.getData('permission');
                                    var updatePermissionArr = [];
                                    $.each(permissions, function (k, li) {
                                        updatePermissionArr.push(li.value)
                                    });
                                    var subimtPermission = {
                                        roleId: data.roleId,
                                        permissionIds: updatePermissionArr
                                    }
                                    ajaxRequest(AJAX_API.admin.role.allot, "post", JSON.stringify(subimtPermission), utoken.access_token, function (res) {
                                        if (res.code == 200) {
                                            layer.close(permissionLayer)
                                            layer.msg("权限分配成功", { icon: 1 })
                                        }
                                    })
                                }
                            })
                        }
                    })

                }

                function deleteOrganization(roleId, layer, utoken, tableIns) {
                    if (roleId) {
                        var url = AJAX_API.admin.role.delete;
                        ajaxRequest(url, "post", JSON.stringify(roleId), utoken.access_token, function (res) {
                            if (res.code == 200) {
                                tableIns.reload()
                                layer.msg("删除成功", { icon: 1 })

                            }
                        })
                    } else {
                        layer.msg("删除成功", { icon: 5 })
                    }
                }

            })
        })
    </script>
</body>

</html>