<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>湘雅医院糖尿病足互联网平台我的会诊</title>
    <link rel="stylesheet" href="../../../js/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="../../../js/plugin/toastr/toastr.min.css">
    <link rel="stylesheet" href="../../../font/iconfont.css">
    <link rel="stylesheet" href="../../../css/common.css">
    
    <style>
        .base-workbench .layout {
            padding: 0px 0 40px 40px;
        }

        .workbench {
            overflow: auto;
            padding: 20px;
            position: relative;
        }

        .workbench .info-tips {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            color: #c0c0c0;
            box-sizing: border-box;
            border-bottom: 1px dashed #c0c0c0;
        }

        .workbench .info-list {
            padding: 10px 0;
            line-height: 18px;
        }

        .workbench .condition-list {
            padding: 6px 0;

        }

        .workbench .condition-list i {
            text-align: right;
        }

        .workbench .info-p {
            height: 180px;
            text-align: center;
            overflow: hidden;
        }

        .workbench .info-p img {
            width: auto;
            height: 180px;
        }

        .workbench .layui-form {
            margin: 6px 0;
        }

        .workbench .layui-form-label {
            padding: 10px 0;
            text-align: left;
        }

        .workbench .layui-textarea {
            display: inline-block;
            width: calc(100% - 80px);
            min-height: 180px;
        }

        .workbench .opinion-button {
            text-align: center;
        }

        .layui-icon-add-1 {
            float: right;
            color: #1E9FFF;
            margin-right: 20px;
        }

        .layui-fluid {
            padding-bottom: 6px;
        }

        .consultation-imgs {
            margin: 10px 0;
        }


        #loader {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        #loader {
            flex-direction: column-reverse;
            color: #8aaaff;
            font: 2.5em sans-serif;
        }

        progress[value] {
            width: 12.5em;
            height: 0.25em;
            border: none;
            border-radius: 0.125em;
            background: #c1c5ce;
        }

        progress[value]::-webkit-progress-bar {
            border: none;
            border-radius: 0.125em;
            background: #e6eeff;
        }

        progress[value]::-webkit-progress-value {
            border: none;
            border-radius: inherit;
            background: linear-gradient(90deg, #8aaaff, #fa8cff);
        }

        progress[value]::-moz-progress-bar {
            border: none;
            border-radius: inherit;
            background: linear-gradient(90deg, #8aaaff, #fa8cff);
        }

        progress[value]::-ms-fill {
            border: none;
            border-radius: inherit;
            background: linear-gradient(90deg, #8aaaff, #fa8cff);
        }

        output:not(:empty) {
            padding-bottom: 1em;
        }

        output:not(:empty):after {
            content: '%';
        }

        .wound-text {
            text-align: center;
            padding: 6px 0;
        }

        .wound-text em {
            color: #c0c0c0;
        }

        .wound-chart {
            width: 100%;
            height: 300px;
        }

        .layui-form-checkbox i {
            height: 100%;
        }

        .body-list {
            text-align: center;
        }

        .consultation-form {
            display: none;
        }
    </style>
</head>

<body>

    <body class="hg100 base-workbench">
        <div class="layout hg100">
            <div class="workbench hg100 " id="workbench">
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-md12">
                            <h4 class="info-tips">伤口深度指数</h4>
                        </div>

                        <div class="layui-col-md12 info-list" id="loader-mater">

                            <div class="layui-progress layui-progress-big" lay-showPercent="true" lay-filter="index">
                                <div class="layui-progress-bar layui-bg-blue" lay-percent="0%" id="progressIndex"></div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <h4 class="info-tips">伤口测量结果</h4>
                        </div>

                        <div class="layui-col-md12 info-list">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-md3 info-list">
                                    <p class="wound-text"><em>伤口长度(最长):</em> <span id="length"></span>CM</p>

                                </div>
                                <div class="layui-col-md3 info-list">
                                    <p class="wound-text"><em>伤口宽度(最宽):</em> <span id="width"></span>CM</p>
                                </div>
                                <div class="layui-col-md3 info-list">
                                    <p class="wound-text"><em>伤口深度(最深):</em> <span id="deep"></span>CM</p>
                                </div>
                                <div class="layui-col-md3 info-list">
                                    <p class="wound-text"><em>伤口面积(最大):</em> <span id="area"></span>M²</p>
                                </div>
                            </div>

                        </div>
                        <div class="layui-col-md12  echarts-list">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-md6 info-list">
                                    <div class="wound-pie wound-chart" id="woundPie"></div>
                                </div>
                                <div class="layui-col-md6 info-list">
                                    <div class="wound-line wound-chart" id="woundLine"></div>
                                </div>
                            </div>

                        </div>
                        <div class="layui-col-md12">
                            <h4 class="info-tips">全身情况补充</h4>
                        </div>
                        <div class="layui-col-md12  echarts-list">
                            <div class=" layui-form" id="analyseForm">
                                <div class="layui-form-item">
                                    <div class="layui-input-block ml0">
                                        <div class="layui-row layui-col-space5" id="bodyList">
                                        </div>
                                        <div class="layui-row layui-col-space5 p10">
                                            <div id="replenishBox" class="replenish-box">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md12">
                                    <h4 class="info-tips">伤口分级评估结果</h4>
                                    <div class="layui-row layui-col-space5">
                                        <div class="layui-col-md12 info-list">
                                            <div id="result">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md12">
                                        <h4 class="info-tips">建议处理方案</h4>
                                        <div class="layui-row layui-col-space5">
                                            <div class="layui-col-md12 info-list">
                                                <div class="layui-input-block ml0">
                                                    <textarea name="plain" placeholder="请输入内容"
                                                        class="layui-textarea w100"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md12">
                                    <div class="layui-form-item">
                                        <div class="layui-input-block m0 text-center">
                                            <button class="layui-btn layui-btn-normal m10" lay-submit
                                                lay-filter="diagnose" id="save" type="save">保存到我的患者</button>
                                            <button class="layui-btn layui-btn-normal m10" lay-submit
                                                lay-filter="diagnose" id="create" type="consulation">发起会诊/转诊</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notice hg100 " id="notice">
                <h3>我的伤口测量 <i class="layui-icon layui-icon-add-1" title="点击新增会诊" id="createConsultation">新增</i>
                </h3>
                <ul id="noticeUl">

                </ul>
            </div>
            
        </div>
        
        <!-- <script src="../../../js/plugin/rem.min.js"></script> -->
        <script src="../../../js/plugin/jquery.min.js"></script>
        <script src="../../../js/plugin/jquery.cookie.js"></script>
        <script src="../../../js/plugin/toastr/toastr.min.js"></script>
        <script src="../../../js/plugin/layui/layui.js"></script>
        <script src="../../../js/plugin/echarts.min.js"></script>
        <script src="../../../js/plugin/prefixfree.js"></script>
        <script src="../../../js/plugin/jquery.nicescroll.min.js"></script>
        <script src="../../../js/common/config.js"></script>
        <script src="../../../js/common/common.js"></script>
        <script src="../../../js/common/charts.js"></script>
        <script>

            $(function () {
                var utoken = $.cookie("utoken");
                var access_token;
                var images = [];
                var gradingS;
                $("#noticeUl").niceScroll({
                    'cursorcolor': '#1E9FFF',
                    'cursorborder': 'none',
                    // 'smoothscroll': 'false',
                    'autohidemode': true,
                    "railalign": "right",
                });
                var workbenchNice = $("#workbench").niceScroll({
                    'cursorcolor': '#1E9FFF',
                    'cursorborder': 'none',
                    // 'smoothscroll': 'false',
                    'autohidemode': true,
                    "railalign": "right",
                });
                layui.config({
                    base: '/js/plugin/layui/lay/modules/'
                }).extend({
                    selectN: 'select_extend'
                }).use(["layer", "form", "element", "selectN", "laydate"], function () {
                    // console.log(SyntaxHighlighter)
                    // SyntaxHighlighter.defaults["quick-code"] = false;
                    // SyntaxHighlighter.defaults["gutter"] = false;
                    // SyntaxHighlighter.all();

                    var formSelects = layui.formSelects;
                    var layer = layui.layer;
                    var element = layui.element;
                    var form = layui.form;
                    var selectN = layui.selectN;
                    var laydate = layui.laydate;
                    if (!utoken) {
                        parent.layer.msg('您尚未登陆或者,或者登陆已过期，请重登陆', {
                            time: 20000, //20s后自动关闭
                            btn: ['重新登陆'],
                            btn1: function () {
                                parent.window.location.href = "../../../login_doctor.html"
                            }
                        });
                    }
                    $.get("../../../json/grading.json", function (grading) {
                        gradingS = selectN({
                            //元素容器【必填】
                            elem: '#result'
                            , search: [true, true, true]
                            //候选数据【必填】
                            , data: grading
                            , selected: []
                        });
                    })
                    
                    // 选中全身补充情况后 渲染input
                    form.on('checkbox(laysituation)', function (data) {

                        var value = data.value;
                        var title = data.elem.title;
                        if (data.elem.checked) {
                            var html = $('<div class="layui-form-item m-t-b8 checked' + value + ' " checkedId = "' + value + '">\
                                            <label class="layui-form-label w68">'+ title + '</label>\
                                            <div class="layui-input-block ml68">\
                                                <input type="text" name="'+ value + '" required lay-verify="required"\
                                                    placeholder="请输入'+ title + '" autocomplete="off"\
                                                    class="layui-input">\
                                            </div>\
                                        </div>')
                            $("#replenishBox").append(html)
                            form.render()
                        } else {
                            $("#replenishBox").find('.checked' + value + '').remove();
                            form.render()
                        }

                        workbenchNice.resize()
                    })

                    
                    form.on('submit(diagnose)', function (data) {
                        var type = $(data.elem).attr("type")
                        
                        var formData = data.field;
                        var s = {
                            bingLiId: $("#save").attr("bingliId"),
                            result: formData.result.split(",").join(" "),
                            plain: formData.plain,
                            bingLiSituations: []
                        }
                        var arr = [];
                        var regStr = "situation"
                        for (key in formData) {
                            var k = key;
                            if (k.indexOf(regStr) != -1) {
                                s.bingLiSituations.push({
                                    situationId: formData[k],
                                    description: formData[formData[k]],
                                    situationDesc: k.split("[")[1].split("]")[0]
                                })
                            }
                        }
                        
                        if (type == "consulation") {
                            var bingliId = $("#save").attr("bingliId");
                            parent.layer.open({
                                type: 2,
                                content: './measure/crateConsultation.html?bingliId='+bingliId,
                                area:['800px','480px'],
                                title:"发起会诊/转诊"
                            });
                        }
                        return false
                        ajaxRequest(AJAX_API.measure.update, "post", JSON.stringify(s), access_token, function (res) {
                            if (res.code == 200) {
                                layer.msg("保存成功", { icon: 1 })
                            }

                        })


                        

                    })
                    var woundPie = echarts.init(document.getElementById('woundPie'));
                    var woundLine = echarts.init(document.getElementById('woundLine'));
                    access_token = JSON.parse(utoken).access_token;


                    // 列表
                    ajaxRequest(AJAX_API.measure.list, "get", {}, access_token, function (res) {
                        var data = res.data.list;
                        var html = [];
                        if (data.length != 0) {
                            $.each(data, function (i, list) {
                                var list = list;
                                var bingLiId = list.bingLiId || "",
                                    measureId = list.measureId || "",
                                    realname = list.realname || "",
                                    hospital = list.hospital || "",
                                    createDate = list.createDate ? list.createDate.split("T")[0] : "";
                                html.push('<li class="notice-item" bingLiId="' + bingLiId + '">\
                                        <div class="notice-img icon iconfont icon-lingdang bgBlue"></div>\
                                        <div class="notice-text">\
                                            <p class="notice-illness">'+ realname + '</p>\
                                            <p class="notice-hospital">\
                                                <span>'+ hospital + '</span>\
                                                <i>'+ createDate + '</i>\
                                            </p>\
                                        </div>\
                                        <div class="notice-icon"></div>\
                                    </li>')
                                if (i == 0) {
                                    renderMeasure(bingLiId, access_token, form, element)
                                    $("#consultationSubmit").attr("bingLiId", bingLiId)
                                }
                            });
                            $("#noticeUl").html(html.join(""));
                            $("#noticeUl").on("click", "li", function () {
                                var bingLiId = $(this).attr("bingLiId");
                                renderMeasure(bingLiId, access_token, form, element)
                            })
                        } else {
                            $("#noticeUl").html('<li class="notice-empty"> 没有伤口测量的数据 </li>');
                        }

                    })




                    // 新增2d 测量
                    $("#createConsultation").on("click", function () {
                        parent.layer.open({
                            title: "新增2d测量",
                            content: "/view/doctor/measure/create.html",
                            type: 2,
                            area: ['1000px', '560px']
                        })
                    });

                    function renderMeasure(id, access_token, form, element) {
                        if (id) {
                            ajaxRequest(AJAX_API.measure.detect + id, "get", {}, access_token, function (res) {
                                if (res.code == 200) {
                                    $("#save").attr("bingliId", id);
                                    $("#create").attr("bingliId", id);
                                    var data = res.data;
                                    $("#progressIndex").attr("lay-percent", data.index + "%")
                                    element.init();
                                    element.progress('index', data.index + "%")
                                    $("#length").html(data.length)
                                    $("#width").html(data.width)
                                    $("#deep").html(data.deep)
                                    $("#area").html(data.area)
                                    var EchartsPieData = [{ name: "red", value: data.red }, { name: "yellow", value: data.yellow }, { name: "black", value: data.black }, { name: "white", value: data.white }, { name: "pink", value: data.pink }]
                                    renderEchartsPie(EchartsPieData, woundPie)

                                }
                            });
                            // 折线图
                            ajaxRequest(AJAX_API.measure.brokenline + id, "get", {}, access_token, function (res) {
                                if (res.code == 200) {
                                    var data = res.data;
                                    var woundLineData = {
                                        series: [],
                                        xAxis: []
                                    }
                                    for (j in data) {
                                        var o = {
                                            name: j,
                                            data: []
                                        }
                                        $.each(data[j][1], function (i, item) {
                                            o.data.push(item);
                                            woundLineData.xAxis = data[j][0]
                                        })
                                        woundLineData.series.push(o)
                                    }
                                    renderEchartsLine(woundLineData, woundLine)
                                }
                            });

                        }
                        renderSituations(form)

                    }
                    // 查询全身情况补充字典 
                    function renderSituations(form) {
                        ajaxRequest(AJAX_API.measure.situations, "get", {}, access_token, function (res) {

                            if (res.code == 200) {
                                var data = res.data;
                                var html = [];
                                $.each(data, function (i, item) {
                                    var id = item.situationId;
                                    var str = item.situationDesc;
                                    html.push('<div class="layui-col-md3 body-list"><input type="checkbox" name="situation[' + str + ']" title="' + str + '" lay-filter="laysituation" value="' + id + '"></div>')
                                });

                                $("#bodyList").html(html.join(""))

                                form.render()
                            }
                        })
                    }



                })

            })

        </script>
    </body>

</html>